# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
web-build/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production
.env.development
.env.test

# TypeScript
*.tsbuildinfo

# Android
android/
*.keystore

# iOS
ios/
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata

# Metro Bundler
.cache/
